body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #12684e;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  border-radius: 20px 20px 0 0;
  background: rgb(7, 143, 4);
  background: linear-gradient(
    180deg,
    rgba(7, 143, 4, 1) 0%,
    rgba(6, 157, 54, 1) 17%,
    rgba(255, 132, 0, 1) 100%
  );
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h1 {
  margin: 0;
  margin-top: 1rem;
}

nav {
  margin: 2rem 0;
  margin-bottom: 0;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 1rem;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.menu a:hover {
  background-color: #575757;
}

main {
  padding: 1rem;
  text-align: center;
}

section {
  margin: 2rem 0;
}

.match {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.player {
  font-size: 1.2rem;
  flex: 1 1 100%;
  text-align: center;
  margin: 0.5rem 0;
}

.score {
  font-size: 1.5rem;
  flex: 1 1 100%;
  text-align: center;
  font-weight: bold;
  color: #333;
  margin: 0.5rem 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media (min-width: 600px) {
  .match {
    flex-wrap: nowrap;
  }

  .player,
  .score {
    flex: 1;
    text-align: left;
  }

  .score {
    text-align: center;
  }
}

/* HOME SLIDER */
.slider {
  margin-top: 3rem;
  width: 100%;
  padding-bottom: 50%;
}
.slider img {
  width: 100%;
}
.wrapper {
  width: 100%;
  margin: 0;
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 1024px;
    margin: auto;
  }
}

/* Accordion Styles */

.accordion-container {
  padding: 3rem;
}

.accordion-header,
.accordion-body {
  padding: 1rem;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b9b5b5;
  border-radius: 5%;
}
