body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  border-radius: ;
}

h1 {
  margin: 0;
}

nav {
  margin: 1rem 0;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 1rem;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #575757;
}

main {
  padding: 1rem;
}

section {
  margin: 2rem 0;
}

.match {
  background-color: #fff;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.player {
  font-size: 1.2rem;
  flex: 1 1 100%;
  text-align: center;
  margin: 0.5rem 0;
}

.score {
  font-size: 1.5rem;
  flex: 1 1 100%;
  text-align: center;
  font-weight: bold;
  color: #333;
  margin: 0.5rem 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

@media (min-width: 600px) {
  .match {
    flex-wrap: nowrap;
  }

  .player,
  .score {
    flex: 1;
    text-align: left;
  }

  .score {
    text-align: center;
  }
}
